<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href=@Url.Content("~/Content/barley.css") rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="container">
            <div style="margin:auto;">
                @using (Html.BeginForm("NewGame", "Home", FormMethod.Get))
    {
                    @Html.Label("Enter the lenght of the field for game")
            @Html.TextBox("range")
           <input type="submit" value="Start new game") />
}
            </div>
            <hr />
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Barley-Break. <b>Trofymov Igor</b></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
